head, body {
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
}

#casingMessage{
    position: absolute;
    top: 70%;
    left: 5%;
    color: rgb(50, 36, 36);
    font-family: Arial;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    z-index: 100;
    visibility: hidden;
    pointer-events: none;
}

#impellerMessage{
    position: absolute;
    top: 60%;
    left: 10%;
    color: rgb(50, 36, 36);
    font-family: Arial;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    z-index: 100;
    visibility: hidden;
    pointer-events: none;
}

#controls{
    position: absolute;
    top: 2%;
    right: 2%;
    color: rgb(0, 0, 0);
    font-family: Arial;
    font-size: 1rem;
    text-align: left;
    z-index: 100;
    visibility: visible;
    background-color: white;
    pointer-events: none;
}

#rpm{
    position: absolute;
    top: 2%;
    left: 2%;
    color: rgb(0, 0, 0);
    font-family: Arial;
    font-size: 1rem;
    text-align: left;
    z-index: 100;
    visibility: visible;
    background-color: white;
    pointer-events: none;
}
